:root {
  --secondary-color: #fff;
}

html {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  background-color: #3F2AFF;
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto Regular"),
    url("../fonts/RobotoRegular.woff2") format("woff2"),
    url("../fonts/RobotoRegular.woff") format("woff1");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto Bold"),
    url("../fonts/RobotoBold.woff2") format("woff2"),
    url("../fonts/RobotoRegular.woff") format("woff1");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
}

/* header */

.header {
  padding: 29px 0 26px;
  background-color: #3F2AFF;
}

.header__list {
  display: flex;
  justify-content: flex-end;
}

.header__item:not(:last-child) {
  margin-right: 57px;
}

.header__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--secondary-color);
}

.header__burger {
  display: none;
}

/* hero */

.hero {
  min-height: 619px;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__left-block {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}

.hero__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 60px;
  line-height: 100%;
  color: var(--secondary-color);
}

.hero__desc {
  margin: 0;
  margin-bottom: 62px;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: var(--secondary-color);
}

.hero_btn {
  padding: 25px 75px 23px;
  width: 270px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.hero__right-block {
  display: flex;
  justify-content: center;
}

.hero__image {
  padding-top: 15px;
  padding-bottom: 7px;
}

/* about */

.about {
  margin-bottom: 77px;
  padding-top: 80px;
}

.about__left-block {
  padding-top: 22px;
}

.right-block-about__title {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  color: #2E2B44;
}

.right-block-about__desc {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #666;
}

.about__list {
  padding-right: 17px;
  padding-left: 15px;
}

.item-about__image {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 110px;
  background-size: 80px 80px;
  background-repeat: no-repeat;
}

.item-about__image-1 {
  background-image: url("../image/about-icon-1.svg");
}

.item-about__image-2 {
  background-image: url("../image/about-icon-2.svg");
}

.item-about__image-3 {
  background-image: url("../image/about-icon-3.svg");
}

.item-about__desc {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #666;
}

/* teachers */

.teachers {
  padding-top: 75px;
  background-color: #212133;
}

.teachers__title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
}

.teachers__list {
  margin-bottom: 24px;
  padding-right: 15px;
  padding-left: 15px;
}

.teachers__avatar {
  width: 100%;
  margin-bottom: 27px;
  border-top-left-radius: 12%;
  border-top-right-radius: 12%;
}

.teacher__name {
  margin: 0;
  margin-bottom: 7px;
  padding-left: 1px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}

.teachers__desc {
  margin: 0;
  margin-bottom: 49px;
  padding-right: 1px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #85859B;
}

/* courses */

.courses {
  margin-bottom: 51px;
  padding-top: 74px;
}

.courses__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  color: #212133;
}

.courses__list {
  padding-right: 15.5px;
  padding-left: 16px;
}

.courses__image {
  position: relative;
  margin-bottom: -5px;
}

.courses__meta {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
}

.courses__meta svg {
  margin-right: 4px;
}

.courses__meta span {
  padding-top: 3px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.courses__bottom-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 31px 32px 29px 30px;
  min-height: 300px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 21px;
  background-color: #EDF0F9;
}

.courses__subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #212133;
}

.courses__desc {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #666;
}

.courses__list:first-child + .courses__bottom-block:first-child > .courses__subtitle {
  margin-bottom: -30px;
}

.courses__btn {
  padding: 21.5px 60px 20.5px 58px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

/* footer */

.footer__top {
  background-color: #2E2B44;
}

.socials-footer {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 23px;
}

.socials-footer__item:not(:last-child) {
  margin-right: 30px;
}

.footer__copy {
  padding: 3px 0;
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #2E2B44;
}

.footer__copy span {
  color: #3F2AFF;
}


@media (max-width: 992px) {
  .hero {
    min-height: 620px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 50px;
  }

  .hero__image {
    padding-top: 116px;
  }

  .about {
    margin-bottom: 61px;
  }

  .about__left-block {
    padding-top: 24px;
  }

  .item-about__image {
    padding-top: 91px;
    padding-left: 0;
  }

  .teachers__list {
    margin-bottom: 51px;
  }

  .teachers__desc {
    margin-bottom: 22px;
    width: 101%;
  }

  .courses {
    margin-bottom: 50px;
  }

  .courses__image {
    margin-bottom: -3px;
  }

  .courses__meta {
    right: 25px;
  }

  .courses__meta svg {
    margin-right: 5px;
  }

  .courses__bottom-block {
    min-height: 375px;
  }

  .courses__item:nth-child(2) .courses__bottom-block {
    padding-right: 21px;
  }

  .courses__item:nth-child(4) .courses__bottom-block .courses__desc {
    width: 101%;
  }

  .courses__btn {
    padding: 20.5px 57px 21px 55px;
  }

  .socials-footer {
    padding-bottom: 24px;
  }

}

@media (max-width: 767px) {
  .header {
    padding: 30px 0;
  }

  .header__left-block {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
  }

  .header__list {
    justify-content: center;
  }

  .header__item:not(:last-child) {
    margin-right: 56.5px;
  }

  .hero {
    min-height: 567px;
  }

  .hero__left-block {
    padding-top: 77px;
  }

  .hero__right-block {
    display: none;
  }

  .about {
    margin-bottom: 42px;
    padding-top: 81px;
  }

  .about__left-block {
    padding-top: 0;
  }

  .item-about__image {
    padding-top: 89px;
  }

  .courses__bottom-block {
    min-height: 472px;
  }

  .courses__subtitle {
    line-height: 23.4px;
  }

  .courses__item:nth-child(2) .courses__bottom-block .courses__desc {
    padding-right: 7px;
  }

  .courses__item:nth-child(4) .courses__bottom-block .courses__subtitle {
    margin-bottom: 10px;
  }

  .courses__btn {
    padding: 20.5px 50px 20px 47px;
  }
}

@media (max-width: 575px) {
  .header {
    padding-top: 25px;
    padding-bottom: 21px;
  }

  .header__left-block {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .header__right-block {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .hero {
    min-height: 353px;
  }

  .hero__left-block {
    padding-top: 50px;
  }

  .hero__title {
    margin-bottom: 5px;
    font-size: 30px;
  }

  .hero__desc {
    margin-bottom: 44px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero_btn {
    padding: 21px 34px 20px;
    width: 213px;
    font-size: 16px;
    line-height: 19px;
  }

  .about {
    margin-bottom: 20px;
    padding-top: 50px;
  }

  .about__left-block {
    display: none;
  }

  .right-block-about__title {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 130%;
  }

  .right-block-about__desc {
    margin-bottom: 24px;
  }

  .item-about__image {
    padding-top: 0;
    padding-bottom: 46px;
    padding-left: 110px;
  }

  .teachers {
    padding-top: 47px;
  }

  .teachers__title {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .teachers__list {
    margin-bottom: 26px;
  }

  .courses {
    margin-bottom: 19px;
    padding-top: 46px;
  }

  .courses__image {
    margin-bottom: -3.5px;
    width: 100%;
  }

  .courses__bottom-block {
    margin-bottom: 31px;
  }

  .courses__title {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .courses__subtitle {
    width: 90%;
  }

  .courses__desc {
    width: 102%;
  }

  .courses__btn {
    padding: 21.5px 56px 20px 55px;
  }

}


@media (max-width: 400px) {
  .item-about__image {
    padding-bottom: 32px;
  }
}
