html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 50px;
  }

  .header__nav {
    display: none;
  }

  .nav__list {
    display: block;
  }

  .nav__close {
    display: inline-block;
    margin-bottom: 100px;
    width: 23px;
    height: 23px;
    background-image: url("../img/close.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header__nav--visible {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: block !important;
    margin-right: 0;
    padding: 39px 50px;
    min-width: 420px;
    min-height: 768px;
    background-color: var(--color-white);
  }

  .nav__item {
    margin-right: 0;
  }

  .header__logo-style {
    width: 150px;
    height: 48px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .burger {
    display: block;
  }

  .project__container {
    margin-bottom: 80px;
  }

  .project__content {
    padding: 160px 77px;
    max-width: 100%;
  }

  .project__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .project__descr {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .about__descr {
    margin-bottom: 50px;
  }

  .about__block {
    min-height: 1294px;
    flex-direction: column;
    margin-bottom: 80px;
  }

  .about__card-left {
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .about__cards-text2, .about__cards-text {
    min-width: 452px;
    min-height: 165px;
  }

  .how__item-text {
    max-width: 47%;
  }

  .how__item-descr {
    margin-bottom: 24px;
  }

  .how__item-1 {
    background-size: 47.3% auto;
    background-image: url("../img/work1.2.jpg");
  }

  .how__list {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .faq {
    margin-bottom: 80px;
  }

  .faq__subtitle {
    max-width: 83%;
    font-size: 20px;
    line-height: 32px;
  }

  .footer__content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__right {
    max-width: 570px;
  }

  .footer__input {
    min-width: 541px;
  }

  .ui-accordion .ui-accordion-content {
    width: 100%;
  }

  .footer__input-text {
    min-width: 541px;
  }

  .footer__text {
    display: none;
  }

  .footer__buttom {
    width: 541px;
  }

  .footer__button-style {
    padding: 19px 38px;
  }
}

@media (max-width: 1023px) {

  .header__navigation {
    min-height: 69px;
  }

  .project__content {
    padding: 160px 40px;
  }

  .project__title {
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 61px;
  }

  .project__descr {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
  }

  .about__title {
    margin-bottom: 15px;
  }

  .about__descr {
    min-height: 389px;
    margin-bottom: 50px;
  }

  .about__block {
    min-height: 1184px;
  }

  .about__card-left {
    flex-basis: initial;
    min-height: 650px;
  }

  .about__content {
    padding: 34px 40px;
  }

  .about__group {
    max-width: 366px;
  }

  .about__card-right {
    flex-basis: initial;
    max-height: 502px;
  }

  .about__cards {
    flex-basis: initial;
    align-items: center;
    min-height: 235px;
    padding: 35px 44px 35px 40px;
  }

  .about__cards-text {
    min-width: 452px;
  }

  .about__svg1, .about__svg2 {
    margin-right: 16px;
  }

  .about__svg {
    width: 114px;
    height: 99px;
  }

  .how__item-text {
    max-width: 100%;
  }

  .how__item-1 {
    background-image: url("../img/work1.3.jpg");
    background-position: top;
    background-size: 100% 284px;
  }

  .how__item {
    padding-top: 300px;
  }

  .footer__link {
    display: none;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__content {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer__left {
    height: 148px;
  }

  .footer__right {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {

  .container {
    padding: 0 15px;
  }

  .header__logo-style {
    width: 110px;
    height: 35px;
  }

  .project__container {
    margin-bottom: 60px;
  }

  .project__content {
    min-height: 308px;
    padding: 60px 21px;
    max-width: 770px;
  }

  .project__style {
    justify-content: center;
  }

  .project__title {
    text-align: center;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
  }

  .project__descr {
    text-align: center;
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
  }

  .project__btn {
    padding: 12px 28px;
    font-size: 12px;
    line-height: 15px;
  }

  .project__content {
    justify-content: center;
  }

  .about__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .about__descr {
    margin-bottom: 12px;
  }

  .about__descr-text {
    font-size: 14px;
    line-height: 28px;
  }

  .about__block {
    justify-content: space-between;
    min-height: auto;
    margin-bottom: 60px;
  }

  .about__card-left {
    min-height: auto;
    padding-top: 208px;
    background-size: 100% 200px;
    background-position: top;
  }

  .about__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
  }

  .about__content {
    justify-content: flex-start;
    flex-direction: column;
    min-height: auto;
    padding: 0;
    background: none;
  }

  .about__group {
    max-width: 737px;
    margin-bottom: 15px;
  }

  .about__btn {
    padding: 10px 42px;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
    border: 2px solid #FF9900;
  }

  .about__card-right {
    justify-content: space-between;
    max-height: 558px;
  }

  .about__svg {
    width: 64px;
    height: 49px;
    margin-bottom: 12px;
  }

  .about__svg1, .about__svg2 {
    justify-content: flex-start;
    width: 737px;
    margin-right: 0;
  }

  .about__header {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .about__cards-text {
    min-width: 290px;
    min-height: 100%;
  }

  .about__cards {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    border: none;
    background: none;
    min-height: 100%;
  }

  .about__bottom {
    margin-bottom: 32px;
  }

  .about__style {
    justify-content: flex-start;
    width: 100%;
  }

  .about__top {
    margin-top: 0;
  }

  .how__titte {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
  }

  .how__list {
    max-width: 737px;
    margin-bottom: 16px;
  }

  .how__link-style {
    font-size: 14px;
    line-height: 17px;
  }

  .how__item-1 {
    background-size: 100% 160px;
  }

  .how__item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .how__item {
    padding-top: 176px;
  }

  .how__item-descr {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.05px;
  }

  .how__item-btns {
    margin-bottom: 0;
  }

  .how__item-btn {
    margin-right: 10px;
    padding: 13px 44px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .how__item-link {
    padding: 12px 31px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .faq__top {
    padding: 30px 0;
  }

  .faq {
    padding-bottom: 80px;
  }

  .faq__subtitle {
    max-width: 86%;
  }

  .footer__content {
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__logo-a {
    justify-content: center;
    max-width: 737px;
  }

  .footer__logo-widht {
    width: 131px;
    height: 42px;
  }

  .footer__icon-widht {
    width: 40px;
    height: 40px;
  }

  .footer__right {
    max-width: 290px;
    min-height: 495px;
    margin-bottom: 16px;
    border-bottom: 1px solid #595959;
  }

  .footer__buttom {
    flex-direction: column;
    width: 290px;
    margin-bottom: 16px;
  }

  .footer__button-style {
    padding: 12px 23px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 11px;
  }

  .footer__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0;
  }

  .footer__input {
    min-width: 290px;
  }

  .footer__input-text {
    min-width: 290px;
  }

  .footer__form-link {
    margin-bottom: 25px;
  }

  .footer__icon-right {
    margin-right: 16px;
  }
}