html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-dark: #333;
  --color-white: #fff;
  --color-accent: #f90;
  --color-active: #e1670e;
  --color-dirty: #cacaca;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #F1F1F1;
}

.flex {
  display: flex;
}

.btn {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 75px;
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__navigation {
  justify-content: space-between;
  min-height: 100px;
  align-items: center;
}

.burger {
  position: relative;
  display: none;
  border: none;
  padding: 0;
  width: 30px;
  height: 23px;
  background-color: transparent;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #333;
  transform: translateY(-50%);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
}

.burger::after {
  top: auto;
  bottom: 0;
}

.header {
  background-color: var(--color-white);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__right {
  position: relative;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: 84px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__close {
  display: none;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--color-dark);
  transition: color 0.3s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-accent);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 3px;
}

.nav__link:hover::after {
  transform: scaleX(1);
}

.nav__link:active {
  outline: none;
  color: var(--color-active);
}

.nav__link:active::after {
  background-color: var(--color-active);
}

.search {
  display: block;
  width: 25px;
  height: 25px;
}

.search svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search svg rect {
  fill: var(--color-dark);
  transition: fill 0.3s ease-in-out;
}

.search svg path {
  stroke: var(--color-dark);
  transition: stroke 0.3s ease-in-out;
}

.search:hover svg rect {
  fill: var(--color-accent);
}

.search:hover svg path {
  stroke: var(--color-accent);
}

.search:active svg rect {
  fill: var(--color-active);
}

.search:active svg path {
  stroke: var(--color-active);
}

.header__search {
  position: absolute;
  display: none;
  right: 0;
  padding: 16px 13px 16px 32px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  background-color: var(--color-white);
}

.header__search.is-active {
  display: block;
}

.header__search-text {
  min-width: 412px;
  margin-right: 14px;
  border: none;
  border-bottom: 1px solid #DCDCDC;
  cursor: pointer;
}

.search-btn {
  margin-right: 20px;
}

.search-btn svg rect {
  fill: var(--color-dark);
  transition: fill 0.3s ease-in-out;
}

.search-btn svg path {
  stroke: var(--color-dark);
  transition: stroke 0.3s ease-in-out;
}

.search-btn:hover svg rect {
  fill: var(--color-accent);
}

.search-btn:hover svg path {
  stroke: var(--color-accent);
}

.search-btn:active svg rect {
  fill: var(--color-active);
}

.search-btn:active svg path {
  stroke: var(--color-active);
}

.project__container {
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
}

.project__container .swiper-slyde {
  background-size: cover;
  min-height: 620px;
}

.project__content {
  position: relative;
  z-index: 5;
  padding: 100px 80px;
  pointer-events: none;
  max-width: 997px;
}

.swiper-wrapper {
  position: absolute;
  z-index: 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #FFF;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  position: absolute;
  top: 90%;
  left: 50%;
  bottom: 10%;
}

.project__title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
}

.project__descr {
  margin-bottom: 90px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
}

.project__btn {
  pointer-events: all;
  padding: 25px 37px;
  font-style: normal;
  font-weight: bold;
  font-size: 23.5px;
  line-height: 29px;
  color: var(--color-white);
  background-color: var(--color-accent);
  background-size: cover;
}

.project__style :hover,
.project__style :focus {
  color: var(--color-white);
  background-color: rgba(255, 153, 0, 0.7);
}

.project__style :active {
  color: var(--color-white);
  background-color: #E1670E;
}

.about__title {
  margin-bottom: 20px;
}

.about__descr {
  max-width: 1235px;
  min-height: 192px;
  margin-bottom: 50px;
}

.about__descr-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.about__block {
  min-height: 622px;
  margin-bottom: 100px;
}

.about__card-left {
  flex-basis: 50%;
  align-items: flex-end;
  margin-right: 32px;
  background-image: url('../img/aboutus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about__content {
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 100%;
  min-height: 196px;
  background: rgba(0, 0, 0, 0.5);
}

.about__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.about__style :hover,
.about__style :focus {
  color: var(--color-white);
  background: var(--color-accent);
}

.about__style :active {
  color: #FFFFFF;
  border: var(--color-active);
  background: var(--color-active);
}

.about__btn {
  padding: 17px 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  border: 3px solid var(--color-accent);
}

.about__card-right {
  flex-direction: column;
  flex-basis: 50%;
}

.about__cards {
  flex-basis: 50%;
  min-height: 295px;
  padding: 61px 55px 61px 55px;
  background: var(--color-white);
  border: 1px solid var(--color-dirty);
}

.about__cards2 {
  min-height: 249px;
}

.about__top {
  margin-top: 32px;
}

.about__group {
  max-width: 454px;
}

.about__cards-text {
  flex-direction: column;
  min-height: 165px;
}

.about__header {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-dark);
}

.about__svg1, .about__svg2 {
  margin-right: 40px;
}

.how__titte {
  margin-bottom: 50px;
}

.how__list {
  max-width: 458px;
  margin-bottom: 45px;
}

.how__list-item {
  justify-content: space-between;
}

.how__link-style {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-dark);
}

.how__link :hover {
  color: var(--color-accent);
}

.how__link :focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

.how__link :active {
  color: var(--color-active);
}

.how__header {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

.how__descr-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.how__block2 {
  justify-content: space-between;
  margin-bottom: 100px;
}

.how__item {
  display: none;
}

.how__item-active {
  display: block;
}

.how__item-1 {
  background-image: url(/img/work.jpg);
  background-position: right 10px;
  background-repeat: no-repeat;
  background-size: 49.15% auto;
}

.how__item-2 {
  background-image: url(/img/work21.jpg);
  background-position: right 10px;
  background-repeat: no-repeat;
  background-size: 49.15% auto;
}

.how__item-3 {
  background-image: url(/img/work3.jpg);
  background-position: right 10px;
  background-repeat: no-repeat;
  background-size: 49.15% auto;
}

.how__item-4 {
  background-image: url(/img/work4.jpg);
  background-position: right 10px;
  background-repeat: no-repeat;
  background-size: 49.15% auto;
}

.how__item-text {
  max-width: 43%;
}

.how__item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

.how__item-descr {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.how__item-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.how__item-btn {
  margin-right: 32px;
  padding: 20px 39px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-accent);
  transition: background-color 0.3s ease-in-out;
}

.how__item-btn:focus {
  outline: none;
  background-color: rgba(255, 153, 0, 0.6);
}

.how__item-btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.how__item-btn:active {
  background-color: var(--color-active);
}

.how__item-link {
  border: 1px solid var(--color-dark);
  padding: 20px 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-dark);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.how__item-link:focus {
  outline: none;
  color: var(--color-white);
  background-color: #666;
}

.how__item-link:hover {
  color: var(--color-white);
  background-color: #666;
}

.how__item-link:active {
  color: var(--color-white);
  background-color: #000;
}

.faq {
  padding-top: 50px;
  padding-bottom: 100px;
}

.faq__title {
  margin-bottom: 43px;
}

.faq__item {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-dirty);
  transition: border 0.3s ease-in-out;
}

.faq__item:first-child {
  margin-top: 0;
  border-top: 1px solid var(--color-dirty);
}

.ui-accordion-header-icon {
  display: none;
}

.faq__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  cursor: pointer;
}

.faq__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.28px;
  line-height: 32px;
  color: var(--color-dark);
  transition: color 0.3s ease-in-out;
}

.faq__icon {
  position: relative;
  display: block;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: var(--color-dirty);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.faq__icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 1px;
  background-color: #666;
  transform: translate(-50%, -50%);
}

.faq__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 30px;
  background-color: #666;
  transform: translate(-50%, -50%);
}

.faq__item:focus {
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

.faq__item:focus .faq__subtitle {
  color: var(--color-accent);
}

.faq__item:focus .faq__icon {
  background-color: var(--color-accent);
}

.faq__item:focus .faq__icon::before,
.faq__item:focus .faq__icon::after {
  background-color: var(--color-white);
}

.faq__item:hover {
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

.faq__item:hover .faq__subtitle {
  color: var(--color-accent);
}

.faq__item:hover .faq__icon {
  background-color: var(--color-accent);
}

.faq__item:hover .faq__icon::before,
.faq__item:hover .faq__icon::after {
  background-color: var(--color-white);
}

.ui-accordion-header-active .faq__icon {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

.ui-accordion-content {
  max-width: 1003px;
  height: 416px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.faq__bottom {
  padding: 20px 0;
}

.footer {
  min-height: 594px;
  background: #222222;
}

.footer__content {
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__left {
  flex-direction: column;
  height: 494px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__link {
  height: 252px;
  margin-bottom: 90px;
}

.footer__style-link :hover {
  color: var(--color-accent);
}

.footer__style-link :focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

.footer__style-link :active {
  color: var(--color-active);
}

.footer__link-item {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-dirty);
}

.footer__icon-right {
  margin-right: 25px;
}

.footer__style-icon :hover path {
  fill: var(--color-accent);
}

.footer__style-icon :focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

.footer__style-icon :active path {
  fill: var(--color-active);
}

.footer__right {
  flex-direction: column;
  justify-content: space-between;
  width: 1169px;
}

.footer__text {
  max-width: 363px;
}

.footer__text-style {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dirty);
}

.footer__title {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-dirty);
}

.footer__form {
  justify-content: space-between;
}

.footer__form-link {
  margin-bottom: 32px;
}

.footer__input {
  min-width: 570px;
  height: 60px;
  background: #414141;
}

.footer__input-text {
  min-width: 570px;
  height: 150px;
  background: #414141;
}

.footer__input,
.footer__input-text, placeholder {
  padding-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dirty);
}

.footer__bottom {
  margin-bottom: 25px;
}

.footer__buttom {
  justify-content: space-between;
  align-items: center;
  width: 570px;
}

.footer__style-btn :focus,
.footer__style-btn :hover {
  background-color: #666;
}

.footer__style-btn :active {
  color: #FFF;
  background-color: #666;
}

.footer__button-style {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 19px 52px;
  color: var(--color-white);
  background: var(--color-accent);
}

.footer__checkbox {
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-dirty);
}

.footer__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dirty);
}